<DOCUTYPE>
<html>
<head>
<title>Map</title>

</head>
<body>
    <html>
        <head>
        <title>India Map</title>
        <head>        
        <h1>Choose any Major Cities to know about us</h1>
        <img src="india-map.jpg" usemap="#pagemap" >
        <map name="pagemap">
        <area shape="rect" coords="281,624,301,646" href="map4.html">
        <area shape="rect" coords="450,380,510,420" href="map2.html">
        <area shape="rect" coords="105,445,165,500" href="map3.html">
        <area shape="rect" coords="232,237,295,245" href="map1.html">
        </map>
        
        </body>
        </html>
